<script>
  function elevationClick(type){
    if(type==='max'){
      document.getElementById
    }
  }
</script>
<h3>Additional Options:</h3>
<div>
    <label>Maximize Elevation Gain:
      <input [(ngModel)]="maximizeElevation" placeholder="maximize" type="checkbox" (change)="elevationClick('maximize')" >
    </label>
</div>
<div>
    <label>Minimize Elevation Gain:
      <input [(ngModel)]="minimizeElevation" placeholder="minimize" type="checkbox" (change)="elevationClick('minimize')" >
    </label>
</div>
<div>
    <label>Limit on Total Distance:
      <input [(ngModel)]="limit" placeholder="percentage">
    </label>
</div>

<button (click)="submit()">Start</button>
