<div class="row">
  <div class="col-4">
    <h4>Additional Options</h4>
    <div>
        <label>Maximize Elevation Gain:
          <input [(ngModel)]="maximizeElevation" id="maximize" placeholder="maximize" type="checkbox" (change)="elevationClick('maximize')" >
        </label>
    </div>
    <div>
        <label>Minimize Elevation Gain:
          <input [(ngModel)]="minimizeElevation" id="minimize" placeholder="minimize" type="checkbox" (change)="elevationClick('minimize')" >
        </label>
    </div>  
    <div>
        <label>Limit on Total Distance:
          <input [(ngModel)]="limit" id="limit" placeholder="percentage">
        </label>
    </div>
    <br>
  
  <div *ngIf="endLatitudeError" style="color:red">
    <div ng-message="validationError">{{errorMessage}}</div>
</div>

  <button (click)="submit()" id="route">{{buttonText}}</button>  
  </div>
  <div class="col-8">
    <app-route *ngIf="mapRoute">
    </app-route>
    <br>
  </div>
</div>


<app-modal #modal id="modal">
  <div class="app-modal-header">
    <h5>Please enter a valid value for</h5>
  </div>
  <div class="app-modal-body">
    <p id="errorText">{{errorText}}</p>
  </div>
</app-modal>
