html, body, .map {
  padding: 0;
  margin: 0;
}
.inputCheckbox {
  vertical-align:middle;
}
.map {
  width: 95%;
  height: 350px;
  //display: block;
  margin-left: 1.5rem;
}

h4 {
  margin-left:1.5rem;
}
label{
  margin-left: 1.5rem;
  margin-top: 1.0rem;
}
.locationCheckbox{
  float:left;
  margin-left: 1.5rem;
}
.mapsDiv{
  width: 100%;
  display:inline-block;
  overflow:hidden;
}
.leftMapDiv{
  width:48%;
  margin-right:20px;
  float:left;
}
.rightMapDiv{
  margin-left:20px;
  width:48%;
  overflow:hidden;
}