<div class="mapsDiv">
  <div class="leftMapDiv">
    <h4>Start Location</h4>
    <div class="map" id="startMap"></div>
    <div class="row">
      <div class="col-6">
        <label>Latitude:
          <input [(ngModel)]="startLatitude" placeholder="latitude" id="startLatitude">
        </label>
      </div>
      <div class="col-6">  
        <label>Longitude:
          <input [(ngModel)]="startLongitude" placeholder="longitude" id="startLongitude">
        </label>
      </div>
    </div>
    <div class="locationCheckbox">
        Use Current Location: <input class="inputCheckbox" [(ngModel)]="useCurrentLocation" type="checkbox" (change)="useCurrentLocationClick()">
    </div>
  </div>
  <div class="rightMapDiv">
    <h4>End Location</h4>
    <div class="map" id="endMap"></div>
    <div class="row">
      <div class="col-6">
          <label>Latitude:
            <input [(ngModel)]="endLatitude" placeholder="latitude" id="endLatitude">
          </label>
      </div>
      <div class="col-6">
        <label>Longitude:
          <input [(ngModel)]="endLongitude" placeholder="longitude" id="endLongitude">
        </label>
      </div>
    </div>
  </div>
</div>
<div>
  <hr>
  <app-options [startLongitude]=startLongitude
    [startLatitude]=startLatitude
    [endLongitude]=endLongitude
    [endLatitude]=endLatitude>
  </app-options>
</div>