html, body, .map {
  padding: 0;
  margin: 0;
}

.map {
  width: 95%;
  height: 350px;
  //display: block;
  margin-left: 1.5rem;
}

h4 {
  //text-align: center;
  //margin-bottom: 1.0rem;
  margin-left:1.5rem;
}
label{
  // display: block;
  //text-align: center;
  margin-left: 1.5rem;
  margin-top: 1.0rem;
}
.mapsDiv{
  width: 100%;
  display:inline-block;
  overflow:hidden;
}
.leftMapDiv{
  width:48%;
  margin-right:20px;
  float:left;
}
.rightMapDiv{
  margin-left:20px;
  width:48%;
  overflow:hidden;
}