<div class="mapsDiv">
  <div class="leftMapDiv">
    <h4>Start Location</h4>
    <div class="map" id="startMap"></div>
    <div class="row">
      <div class="col-6">
        <label>Latitude:
          <input [(ngModel)]="startLatitude" placeholder="latitude">
        </label>
      </div>
      <div class="col-6">  
        <label>Longitude:
          <input [(ngModel)]="startLongitude" placeholder="longitude">
        </label>
      </div>
    </div>
  </div>
  <div class="rightMapDiv">
    <h4>End Location</h4>
    <div class="map" id="endMap"></div>
    <div class="row">
      <div class="col-6">
          <label>Latitude:
            <input [(ngModel)]="endLatitude" placeholder="latitude">
          </label>
      </div>
      <div class="col-6">
        <label>Longitude:
          <input [(ngModel)]="endLongitude" placeholder="longitude">
        </label>
      </div>
    </div>
  </div>
</div>
<div>
  <hr>
  <app-options [startLongitude]=startLongitude
    [startLatitude]=startLatitude
    [endLongitude]=endLongitude
    [endLatitude]=endLatitude>
  </app-options>
</div>