@import '~bootstrap/dist/css/bootstrap.min.css';
.navbar-brand {
	font-size: 3rem;
	font-weight: 60;
}
.vertical-align {
    display: flex;
    align-items: center;
}


.modal-footer class{
	padding-top:0px !important; 
	border-top:none !important; 
	padding-bottom:0px !important;
	display:none !important;
  }